<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pace2car.mapper.CoursesMapper">

    <cache eviction="LRU"
           flushInterval="60000"
           size="1024"
           readOnly="true"/>

    <resultMap id="baseResultMap" type="Courses">
        <id property="id" column="ID"/>
        <result property="courseName" column="COURSE_NAME"/>
    </resultMap>

    <select id="selectCourses" parameterType="Courses" resultMap="baseResultMap">
        SELECT ID,
               COURSE_NAME
        FROM COURSES
        <where>
            <if test="courses != null and courses.id != null">AND ID = #{courses.id,jdbcType=NUMERIC}</if>
            <if test="courses != null and courses.courseName != null">
                <bind name="likeName" value="'%' + courses.courseName + '%'"/>
                AND COURSE_NAME LIKE #{likeName}
            </if>
        </where>
        ORDER BY ID
    </select>

    <insert id="insertCourse" parameterType="Courses">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT COURSE_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO COURSES VALUES (#{id}, #{courseName,jdbcType=VARCHAR})
    </insert>

    <update id="updateCourse" parameterType="Courses">
        UPDATE COURSES
        <set>
            COURSE_NAME=#{courseName,jdbcType=VARCHAR}
        </set>
        WHERE ID=#{id,jdbcType=NUMERIC}
    </update>

    <delete id="deleteCourse" parameterType="Courses">
        DELETE FROM COURSES WHERE ID=#{id,jdbcType=NUMERIC}
    </delete>

</mapper>