<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pace2car.mapper.ExaminationMapper">

    <resultMap id="baseResultMap" type="Examination">
        <id property="examNo" column="EXAM_NO"/>
        <result property="userId" column="USER_ID"/>
        <result property="examDate" column="EXAM_DATE"/>
        <result property="singleId" column="SINGLE_ID"/>
        <result property="multipleId" column="MULTIPLE_ID"/>
        <result property="trueFalseId" column="TRUE_FALSE_ID"/>
        <result property="fillInGapsId" column="FILL_IN_GAPS_ID"/>
        <result property="simpleAnwserId" column="SIMPLE_ANWSER_ID"/>
        <result property="programId" column="PROGRAM_ID"/>
        <result property="descrpt" column="DESCRPT"/>
        <result property="validFlag" column="VALID_FLAG"/>
    </resultMap>

    <resultMap id="smdResultMap" type="SmdQuestions">
        <id property="id" column="ID"/>
        <result property="question" column="QUESTION"/>
        <result property="questionType" column="QUESTION_TYPE"/>
    </resultMap>

    <resultMap id="fspResultMap" type="FspQuestions">
        <id property="id" column="ID"/>
        <result property="question" column="QUESTION"/>
        <result property="questionType" column="QUESTION_TYPE"/>
    </resultMap>

    <select id="selectAllExamination" resultMap="baseResultMap">
        SELECT
        e.EXAM_NO,
        e.EXAM_DATE,
        e.DESCRPT,
        e.VALID_FLAG
        FROM EXAMINATION e
    </select>

    <insert id="insertExamination" parameterType="Examination">
        INSERT INTO EXAMINATION(EXAM_NO, EXAM_DATE, DESCRPT) VALUES (#{examNo}, #{examDate,jdbcType=TIMESTAMP}, #{descrpt,jdbcType=VARCHAR})
    </insert>

    <update id="updateExamination" parameterType="Examination">
        UPDATE EXAMINATION
        <trim prefix="set" suffixOverrides=",">
            <if test="examDate!=null">EXAM_DATE=#{examDate,jdbcType=TIMESTAMP},</if>
            <if test="descrpt!=null">DESCRPT=#{descrpt,jdbcType=VARCHAR},</if>
        </trim>
        WHERE EXAM_NO=#{examNo,jdbcType=VARCHAR}
    </update>

    <delete id="deleteExamination" parameterType="Examination">
        DELETE FROM EXAMINATION WHERE EXAM_NO=#{examNo,jdbcType=VARCHAR}
    </delete>

    <select id="selectExaminationByExamNo" parameterType="Examination" resultMap="baseResultMap">
        SELECT
            e.EXAM_NO,
            e.USER_ID,
            e.EXAM_DATE,
            e.SINGLE_ID,
            e.MULTIPLE_ID,
            e.TRUE_FALSE_ID,
            e.FILL_IN_GAPS_ID,
            e.SIMPLE_ANWSER_ID,
            e.PROGRAM_ID,
            e.DESCRPT,
            e.VALID_FLAG
        FROM EXAMINATION e
        WHERE e.EXAM_NO=#{examNo,jdbcType=VARCHAR}
    </select>

    <select id="selectCurrentExamination" resultMap="baseResultMap">
        SELECT
        e.EXAM_NO,
        e.USER_ID,
        e.EXAM_DATE,
        e.SINGLE_ID,
        e.MULTIPLE_ID,
        e.TRUE_FALSE_ID,
        e.FILL_IN_GAPS_ID,
        e.SIMPLE_ANWSER_ID,
        e.PROGRAM_ID,
        e.DESCRPT,
        e.VALID_FLAG
        FROM EXAMINATION e
        WHERE VALID_FLAG = 1
    </select>
    <select id="selectSmdIdByQuestionType" parameterType="int" resultMap="smdResultMap">
        SELECT
            s.ID
        FROM SMD_QUESTIONS s
        WHERE QUESTION_TYPE=#{questionType}
    </select>

    <select id="selectSmdQuestionById" parameterType="int" resultType="string">
        SELECT
            QUESTION
        FROM SMD_QUESTIONS
        WHERE ID=#{id,jdbcType=NUMERIC}
    </select>

    <select id="selectFspIdByQuestionType" parameterType="int" resultMap="fspResultMap">
        SELECT
            ID
        FROM FSP_QUESTIONS
        WHERE QUESTION_TYPE=#{questionType}
    </select>

    <select id="selectFspQuestionById" parameterType="int" resultType="string">
        SELECT
            QUESTION
        FROM FSP_QUESTIONS
        WHERE ID=#{id,jdbcType=NUMERIC}
    </select>

</mapper>