<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pace2car.mapper.OltsUsersMapper" >
  <resultMap id="BaseResultMap" type="com.pace2car.entity.OltsUsers" >
    <id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="STU_NO" property="stuNo" jdbcType="CHAR" />
    <result column="ID_CARD_NO" property="idCardNo" jdbcType="CHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASS_WORD" property="passWord" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="HOME_TEL" property="homeTel" jdbcType="VARCHAR" />
    <result column="HOME_ADDR" property="homeAddr" jdbcType="VARCHAR" />
    <result column="SCH_ADDR" property="schAddr" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="CHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="NUMERIC" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="NATION_PLACE" property="nationPlace" jdbcType="VARCHAR" />
    <result column="MARJOR" property="marjor" jdbcType="VARCHAR" />
    <result column="EDU_BACKGROUND" property="eduBackground" jdbcType="VARCHAR" />
    <result column="GRADUATE_SCHOOL" property="graduateSchool" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STU_NO, ID_CARD_NO, USER_NAME, PASS_WORD, MOBILE, HOME_TEL, HOME_ADDR, SCH_ADDR, 
    QQ, EMAIL, USER_TYPE, GENDER, BIRTHDAY, NATION_PLACE, MARJOR, EDU_BACKGROUND, GRADUATE_SCHOOL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from OLTS_USERS
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from OLTS_USERS
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.pace2car.entity.OltsUsers" useGeneratedKeys="true" keyProperty="id" >
    insert into OLTS_USERS (STU_NO, ID_CARD_NO, USER_NAME, 
      PASS_WORD, MOBILE, HOME_TEL, 
      HOME_ADDR, SCH_ADDR, QQ, 
      EMAIL, USER_TYPE, GENDER, 
      BIRTHDAY, NATION_PLACE, MARJOR, 
      EDU_BACKGROUND, GRADUATE_SCHOOL)
    values (#{stuNo,jdbcType=CHAR}, #{idCardNo,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{homeTel,jdbcType=VARCHAR}, 
      #{homeAddr,jdbcType=VARCHAR}, #{schAddr,jdbcType=VARCHAR}, #{qq,jdbcType=CHAR}, 
      #{email,jdbcType=VARCHAR}, #{userType,jdbcType=NUMERIC}, #{gender,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{nationPlace,jdbcType=VARCHAR}, #{marjor,jdbcType=VARCHAR}, 
      #{eduBackground,jdbcType=VARCHAR}, #{graduateSchool,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pace2car.entity.OltsUsers" useGeneratedKeys="true" keyProperty="id" >
    insert into OLTS_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        STU_NO,
      </if>
      <if test="idCardNo != null" >
        ID_CARD_NO,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="passWord != null" >
        PASS_WORD,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="homeTel != null" >
        HOME_TEL,
      </if>
      <if test="homeAddr != null" >
        HOME_ADDR,
      </if>
      <if test="schAddr != null" >
        SCH_ADDR,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="nationPlace != null" >
        NATION_PLACE,
      </if>
      <if test="marjor != null" >
        MARJOR,
      </if>
      <if test="eduBackground != null" >
        EDU_BACKGROUND,
      </if>
      <if test="graduateSchool != null" >
        GRADUATE_SCHOOL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuNo != null" >
        #{stuNo,jdbcType=CHAR},
      </if>
      <if test="idCardNo != null" >
        #{idCardNo,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null" >
        #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="schAddr != null" >
        #{schAddr,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=NUMERIC},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nationPlace != null" >
        #{nationPlace,jdbcType=VARCHAR},
      </if>
      <if test="marjor != null" >
        #{marjor,jdbcType=VARCHAR},
      </if>
      <if test="eduBackground != null" >
        #{eduBackground,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null" >
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pace2car.entity.OltsUsers" >
    update OLTS_USERS
    <set >
      <if test="stuNo != null" >
        STU_NO = #{stuNo,jdbcType=CHAR},
      </if>
      <if test="idCardNo != null" >
        ID_CARD_NO = #{idCardNo,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        PASS_WORD = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="homeTel != null" >
        HOME_TEL = #{homeTel,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null" >
        HOME_ADDR = #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="schAddr != null" >
        SCH_ADDR = #{schAddr,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=NUMERIC},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="nationPlace != null" >
        NATION_PLACE = #{nationPlace,jdbcType=VARCHAR},
      </if>
      <if test="marjor != null" >
        MARJOR = #{marjor,jdbcType=VARCHAR},
      </if>
      <if test="eduBackground != null" >
        EDU_BACKGROUND = #{eduBackground,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null" >
        GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pace2car.entity.OltsUsers" >
    update OLTS_USERS
    set STU_NO = #{stuNo,jdbcType=CHAR},
      ID_CARD_NO = #{idCardNo,jdbcType=CHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      PASS_WORD = #{passWord,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      HOME_TEL = #{homeTel,jdbcType=VARCHAR},
      HOME_ADDR = #{homeAddr,jdbcType=VARCHAR},
      SCH_ADDR = #{schAddr,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=CHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=NUMERIC},
      GENDER = #{gender,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      NATION_PLACE = #{nationPlace,jdbcType=VARCHAR},
      MARJOR = #{marjor,jdbcType=VARCHAR},
      EDU_BACKGROUND = #{eduBackground,jdbcType=VARCHAR},
      GRADUATE_SCHOOL = #{graduateSchool,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
</mapper>