<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pace2car.mapper.QuestionsMapper">

    <resultMap id="techResultMap" type="TechCategory">
        <id property="id" column="ID"/>
        <result property="techCtgr" column="TECH_CTGR"/>
        <result property="courseId" column="COURSE_ID"/>
        <association property="course" javaType="Courses" columnPrefix="c_">
            <id property="id" column="ID"/>
            <result property="courseName" column="COURSE_NAME"/>
        </association>
    </resultMap>

    <resultMap id="smdQuesResultMap" type="SmdQuestions">
        <id property="id" column="ID"/>
        <result property="question" column="QUESTION"/>
        <result property="correct" column="CORRECT"/>
        <result property="questionType" column="QUESTION_TYPE"/>
        <result property="techCateId" column="TECH_CATE_ID"/>
        <result property="descrpt" column="DESCRPT"/>
        <result property="pubdate" column="PUBDATE"/>
    </resultMap>

    <resultMap id="smdOptResultMap" type="SmdOptions">
        <id property="id" column="ID"/>
        <result property="optionA" column="OPTION_A"/>
        <result property="optionB" column="OPTION_B"/>
        <result property="optionC" column="OPTION_C"/>
        <result property="optionD" column="OPTION_D"/>
        <result property="optionE" column="OPTION_E"/>
        <result property="questionId" column="QUESTION_ID"/>
    </resultMap>

    <resultMap id="fspQuesResultMap" type="FspQuestions">
        <id property="id" column="ID"/>
        <result property="question" column="QUESTION"/>
        <result property="stdAnswer" column="STD_ANSWER"/>
        <result property="questionType" column="QUESTION_TYPE"/>
        <result property="techCateId" column="TECH_CATE_ID"/>
        <result property="pubdate" column="PUBDATE"/>
        <result property="descrpt" column="DESCRPT"/>
    </resultMap>

    <resultMap id="fspOptResultMap" type="FspAnswer">
        <id property="id" column="ID"/>
        <result property="answer" column="ANSWER"/>
        <result property="fspId" column="FSP_ID"/>
        <result property="examNo" column="EXAM_NO"/>
        <result property="userId" column="USER_ID"/>
    </resultMap>

    <insert id="insertShort" parameterType="FspQuestions">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT FSP_QUESTIONS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO FSP_QUESTIONS(ID,QUESTION,STD_ANSWER,QUESTION_TYPE,TECH_CATE_ID,DESCRPT)
        VALUES (#{id}, #{question,jdbcType=VARCHAR}, #{stdAnswer,jdbcType=VARCHAR}
        , 5, #{techCateId,jdbcType=INTEGER}, #{descrpt,jdbcType=VARCHAR})
    </insert>


    <insert id="insertRadio" parameterType="SmdQuestions" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO SMD_QUESTIONS(ID,QUESTION,CORRECT,QUESTION_TYPE,TECH_CATE_ID,DESCRPT)
        VALUES (#{id}, #{question,jdbcType=VARCHAR}, #{correct,jdbcType=VARCHAR}
        , 1, #{techCateId,jdbcType=INTEGER}, #{descrpt,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SMD_QUESTIONS_SEQ.nextval FROM dual
        </selectKey>
    </insert>


    <insert id="insertRadioOpt" parameterType="SmdOptions">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SMD_OPTIONS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO SMD_OPTIONS(ID,OPTION_A,OPTION_B,OPTION_C,OPTION_D,OPTION_E,QUESTION_ID)
        VALUES (#{id}, #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR},
         #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR},
         #{optionE,jdbcType=VARCHAR},#{questionId,jdbcType=INTEGER})
    </insert>


    <insert id="insertCheckBox" parameterType="SmdQuestions" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO SMD_QUESTIONS(ID,QUESTION,CORRECT,QUESTION_TYPE,TECH_CATE_ID,DESCRPT)
        VALUES (#{id}, #{question,jdbcType=VARCHAR}, #{correct,jdbcType=VARCHAR}
        , 2, #{techCateId,jdbcType=INTEGER}, #{descrpt,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SMD_QUESTIONS_SEQ.nextval FROM dual
        </selectKey>
    </insert>


    <insert id="insertCheckBoxOpt" parameterType="SmdOptions">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SMD_OPTIONS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO SMD_OPTIONS(ID,OPTION_A,OPTION_B,OPTION_C,OPTION_D,OPTION_E,QUESTION_ID)
        VALUES (#{id}, #{optionA,jdbcType=VARCHAR}, #{optionB,jdbcType=VARCHAR},
        #{optionC,jdbcType=VARCHAR}, #{optionD,jdbcType=VARCHAR},
        #{optionE,jdbcType=VARCHAR},#{questionId,jdbcType=INTEGER})
    </insert>


    <insert id="insertJudge" parameterType="SmdQuestions" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO SMD_QUESTIONS(ID,QUESTION,CORRECT,QUESTION_TYPE,TECH_CATE_ID,DESCRPT)
        VALUES (#{id}, #{question,jdbcType=VARCHAR}, #{correct,jdbcType=VARCHAR}
        , 3, #{techCateId,jdbcType=INTEGER}, #{descrpt,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SMD_QUESTIONS_SEQ.nextval FROM dual
        </selectKey>
    </insert>


    <insert id="insertProgram" parameterType="FspQuestions">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT FSP_QUESTIONS_SEQ.nextval FROM dual
        </selectKey>
        INSERT INTO FSP_QUESTIONS(ID,QUESTION,STD_ANSWER,QUESTION_TYPE,TECH_CATE_ID,DESCRPT)
        VALUES (#{id}, #{question,jdbcType=VARCHAR}, #{stdAnswer,jdbcType=VARCHAR}
        , 6, #{techCateId,jdbcType=INTEGER}, #{descrpt,jdbcType=VARCHAR})
    </insert>


    <select id="selectTech" resultType="TechCategory" resultMap="techResultMap">
        SELECT * FROM TECH_CATEGORY WHERE COURSE_ID=#{id}
    </select>


    <select id="selectBySmdQues" parameterType="com.pace2car.entity.SmdQuestions" resultMap="smdQuesResultMap">
        SELECT * FROM SMD_QUESTIONS
        <where>
            <if test="questions != null and questions.question != null">
                <bind name="likeQuestion" value="'%' + questions.question + '%'"/>
                AND QUESTION LIKE #{likeQuestion}
            </if>
            <if test="questions != null and questions.techCateId != null">AND TECH_CATE_ID=#{questions.techCateId}</if>
            <if test="questions != null and questions.questionType != null">AND QUESTION_TYPE=#{questions.questionType}</if>
        </where>
        ORDER BY ID
    </select>

    <select id="selectBySmdQuesId" parameterType="com.pace2car.entity.SmdQuestions" resultMap="smdQuesResultMap">
        SELECT * FROM SMD_QUESTIONS
        <where>
            <if test="questions != null and questions.id != null">AND ID=#{questions.id}</if>
        </where>
    </select>

    <select id="selectBySmdOpt" parameterType="com.pace2car.entity.SmdOptions" resultMap="smdOptResultMap">
        SELECT * FROM SMD_OPTIONS WHERE QUESTION_ID=#{id}
    </select>


    <select id="selectByFspQues" parameterType="FspQuestions" resultMap="fspQuesResultMap">
        SELECT * FROM FSP_QUESTIONS
        <where>
            <if test="questions != null and questions.question != null">
                <bind name="likeQuestion" value="'%' + questions.question + '%'"/>
                AND QUESTION LIKE #{likeQuestion}
            </if>
            <if test="questions != null and questions.techCateId != null">AND TECH_CATE_ID=#{questions.techCateId}</if>
            AND QUESTION_TYPE=#{questions.questionType}
        </where>
        ORDER BY ID
    </select>

    <select id="selectByFspOpt" parameterType="FspAnswer" resultMap="fspOptResultMap">
            SELECT * FROM FSP_ANSWER WHERE FSP_ID=#{id}
        </select>

    <select id="selectBySmdQuesI" parameterType="int" resultMap="smdQuesResultMap">
        SELECT * FROM SMD_QUESTIONS
        WHERE ID=#{id}
    </select>


</mapper>