<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pace2car.mapper.UserMapper">

    <resultMap id="baseResultMap" type="OltsUsers">
        <id property="id" column="ID"/>
        <result property="stuNo" column="STU_NO"/>
        <result property="idCardNo" column="ID_CARD_NO"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASS_WORD"/>
        <result property="mobile" column="MOBILE"/>
        <result property="homeTel" column="HOME_TEL"/>
        <result property="homeAddr" column="HOME_ADDR"/>
        <result property="schAddr" column="SCH_ADDR"/>
        <result property="qq" column="QQ"/>
        <result property="email" column="EMAIL"/>
        <result property="userType" column="USER_TYPE"/>
        <result property="gender" column="GENDER"/>
        <result property="birthday" column="BIRTHDAY"/>
        <result property="nationPlace" column="NATION_PLACE"/>
        <result property="marjor" column="MARJOR"/>
        <result property="eduBackground" column="EDU_BACKGROUND"/>
        <result property="graduateSchool" column="GRADUATE_SCHOOL"/>
    </resultMap>

    <select id="selectByLogin" parameterType="OltsUsers" resultMap="baseResultMap">
        SELECT * FROM OLTS_USERS WHERE USER_NAME=#{userName} AND PASS_WORD=#{password}
    </select>

    <select id="selectByPage" parameterType="OltsUsers" resultMap="baseResultMap">
        SELECT * FROM OLTS_USERS
        ORDER BY ID
    </select>

    <select id="selectById" parameterType="int" resultMap="baseResultMap">
        SELECT * FROM OLTS_USERS WHERE ID=#{id}
    </select>

    <!--<select id="selectByPrimaryKey" resultMap="baseResultMap" parameterType="java.lang.Integer">-->
        <!--SELECT *-->
        <!--from OLTS_USERS where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->

    <update id="update" parameterType="OltsUsers">
        UPDATE OLTS_USERS
        <set>
            <if test="idCardNo != null">ID_CARD_NO=#{idCardNo},</if>
            <if test="userName != null">USER_NAME=#{userName},</if>
            <if test="mobile != null">MOBILE=#{mobile},</if>
            <if test="homeTel != null">HOME_TEL=#{homeTel},</if>
            <if test="homeAddr != null">HOME_ADDR=#{homeAddr},</if>
            <if test="schAddr != null">SCH_ADDR=#{schAddr},</if>
            <if test="qq != null">QQ=#{qq},</if>
            <if test="email != null">EMAIL=#{email},</if>
            <if test="gender != null">GENDER=#{gender},</if>
            <if test="birthday != null">BIRTHDAY=#{birthday,jdbcType=DATE},</if>
            <if test="nationPlace != null">NATION_PLACE=#{nationPlace},</if>
            <if test="marjor != null">MARJOR=#{marjor},</if>
            <if test="eduBackground != null">EDU_BACKGROUND=#{eduBackground},</if>
            <if test="graduateSchool != null">GRADUATE_SCHOOL=#{graduateSchool},</if>
        </set>
        WHERE ID=#{id}
    </update>


    <insert id="insertInfoBatch" parameterType="OltsUsers">
    insert into OLTS_USERS (olts_users_seq.nextval, STU_NO,ID_CARD_NO, USER_NAME, PASS_WORD,MOBILE, HOME_TEL, HOME_ADDR,
    SCH_ADDR, QQ, EMAIL,USER_TYPE,GENDER BIRTHDAY, NATION_PLACE, MARJOR, EDU_BACKGROUND, GRADUATE_SCHOOL)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id}, #{item.stuNo}, #{item.idCardNo},#{item.userName}, #{item.password},
    #{item.mobile}, #{item.homeTel},#{item.homeAddr}, #{item.schAddr}, #{item.qq}, #{item.email},
    #{item.userType}, #{item.gender}, #{item.birthday}, #{item.nationPlace}, #{item.marjor}, #{item.eduBackground}, #{item.graduateSchool})
    </foreach>
    </insert>


    <!--<insert id="insert" parameterType="OltsUsers">-->
        <!--insert into OLTS_USERS (olts_users_seq.nextval, STU_NO,ID_CARD_NO, USER_NAME, PASS_WORD,MOBILE, HOME_TEL, HOME_ADDR,-->
        <!--SCH_ADDR, QQ, EMAIL,USER_TYPE,GENDER, BIRTHDAY, NATION_PLACE, MARJOR, EDU_BACKGROUND, GRADUATE_SCHOOL)-->
        <!--values (#{id,jdbcType=INTEGER},#{stuNo,jdbcType=VARCHAR},#{idCardNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
        <!--#{mobile,jdbcType=VARCHAR},#{homeTel,jdbcType=VARCHAR},#{homeAddr,jdbcType=VARCHAR},#{schAddr,jdbcType=VARCHAR},-->
        <!--#{qq,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{userType,jdbcType=SMALLINT},#{gender,jdbcType=VARCHAR},#{birthday,jdbcType=DATE}-->
        <!--,#{nationPlace,jdbcType=VARCHAR},#{marjor,jdbcType=VARCHAR},#{eduBackground,jdbcType=VARCHAR}-->
        <!--#{graduateSchool,jdbcType=VARCHAR})-->
    <!--</insert>-->

</mapper>